* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url("./highresscreenshot00007.jpg");
    background-size: 100vh;
}


h1  {
        font-size: 70px;
        color: rgb(186, 15, 15);
        text-align: center;
        margin-top: 40px;
    }

h3 {
    font-size: 35px;
    color: rgb(186, 15, 15);
    text-align: center;
    margin-top: 20px;
}

#chance {
    margin-top: 10px;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 8px;
}

#row-1, #row-2, #row-3 {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100px;
    height: 100px;
    color: rgb(234, 48, 85);
    fill: rgb(153, 232, 35);
    border-radius: 30px;
    font-size: 70px;
    font-weight: bold;
    font-family: fantasy;
}

#reset {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    box-shadow: inset;
}


#reset-btn {
    width: 100px;
    height: 50px;
    box-shadow: inset;
    border-width: 0;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(206, 162, 214);
}

#reset-btn:hover {
    background-color: rgb(78, 18, 218);
    color: rgb(90, 98, 93);
    cursor: pointer;
}