* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url("./highresscreenshot00007.jpg");
    background-size: 100vh;
}


h1  {
        font-size: 70px;
        color: rgb(186, 15, 15);
        text-align: center;
        margin-top: 40px;

}

@keyframes colorFade {
            0% {
              color: black;
            }
      
            10% {
              color: green;
            }
      
            30% {
              color: blue;
            }
      
            50% {
              color: red;
            }
      
            80% {
              color: purple;
            }
      
            100% {
              color: black;
            }
          }

h3 {
    font-size: 35px;
    color: rgb(186, 15, 15);
    text-align: center;
    margin-top: 20px;
}

#chance {
    margin-top: 10px;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 8px;
}

#row-1, #row-2, #row-3 {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100px;
    height: 100px;
    color: rgb(234, 48, 85);
    fill: rgb(153, 232, 35);
    border-radius: 30px;
    font-size: 70px;
    font-weight: bold;
    font-family: fantasy;
}

#reset {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    box-shadow: inset;
}

h1 {
    animation: colorFade 15s infinite;
  }

  @keyframes colorFade {
    0% {
      color: black;
    }

    10% {
      color: rgb(119, 0, 128);
    }

    30% {
      color: blue;
    }

    50% {
      color: red;
    }

    80% {
      color: purple;
    }

    100% {
      color: black;
    }
}

#reset-btn {
    width: 120px;
    height: 70px;
    box-shadow: inset;
    border-width: 0;
    border-radius: 40px;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(206, 162, 214);
}
#reset-btn {
    animation: colorFade 15s infinite;
  }

  @keyframes colorFade {
    0% {
      color: black;
    }

    10% {
      color: rgb(119, 0, 128);
    }

    30% {
      color: blue;
    }

    50% {
      color: red;
    }

    80% {
      color: purple;
    }

    100% {
      color: black;
    }
}

#reset-btn:hover {
    background-color: rgb(78, 18, 218);
    color: rgb(90, 98, 93);
    cursor: pointer;
}